Repository burubur/qurio: changes, and which Codecov flags are due for each by the changed paths.
All: backend, ingestion-worker, frontend

Update test.yml, downgrade go version
  .github/workflows/test.yml
Due: none

Update test.yml to debug running go version
  .github/workflows/test.yml
Due: none

upgrade go to 1.25
  .github/workflows/test.yml
  apps/backend/go.mod
Due: backend

chore: add & config vitests coverage dependency
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/vite.config.ts
Due: frontend

Update test.yml, clean up runner disk before installing python dependencies
  .github/workflows/test.yml
Due: none

Update test.yml, add pythonpath to fix python test error
  .github/workflows/test.yml
Due: none

Update README.md, add codecov badge
  README.md
Due: none

fix inconsistencies in contract missmatch, MCP tools spec, metadata
  .serena/memories/2026-01-05-test-fixes-report.md
  .serena/memories/core_foundation_state.md
  .serena/memories/implementation_details.md
  .serena/memories/mcp_tools_spec.md
  apps/backend/Dockerfile
  apps/backend/features/mcp/handler.go
  apps/backend/features/mcp/handler_test.go
  apps/backend/internal/adapter/weaviate/store.go
  apps/backend/internal/adapter/weaviate/store_test.go
  apps/backend/internal/retrieval/service.go
  apps/ingestion-worker/handlers/file.py
  apps/ingestion-worker/main.py
  apps/ingestion-worker/tests/test_file_handlers.py
  apps/ingestion-worker/tests/test_main_integration.py
  docs/2026-01-05-bug-inconsistencies-1.md
  docs/2026-01-05-bug-inconsistencies-2.md
  docs/2026-01-05-bug-inconsistencies-3.md
  docs/2026-01-05-bug-unit-test-coverage-improvement.md
  docs/plans/2026-01-05-bug-fixes-inconsistencies-1.md
Due: backend, ingestion-worker

improve unit test coverage for ingestion worker
  .serena/memories/testing_and_ingestion_learnings.md
  apps/ingestion-worker/exceptions.py
  apps/ingestion-worker/handlers/file.py
  apps/ingestion-worker/handlers/web.py
  apps/ingestion-worker/main.py
  apps/ingestion-worker/tests/conftest.py
  apps/ingestion-worker/tests/test_logging_bridge.py
  apps/ingestion-worker/tests/test_main_integration.py
  apps/ingestion-worker/tests/test_metadata_extraction.py
  apps/ingestion-worker/tests/test_zombie_prevention.py
  docs/plans/2026-01-06-ingestion-worker-test-coverage-1.md
  docs/reports/2026-01-06-ingestion-test-coverage-report.md
Due: ingestion-worker

fix broken test
  apps/backend/internal/worker/integration_test.go
Due: backend

improve backend internal adapter, retrieval, worker, middleware coverage
  .serena/memories/core_foundation_state.md
  .serena/memories/task_completion_definition.md
  .serena/memories/testing_and_ingestion_learnings.md
  apps/backend/internal/adapter/gemini/dynamic_embedder_test.go
  apps/backend/internal/adapter/weaviate/store_test.go
  apps/backend/internal/middleware/correlation_test.go
  apps/backend/internal/retrieval/service_test.go
  apps/backend/internal/worker/result_consumer_test.go
  docs/2026-01-07-bug-testcoverage-backend-2.md
  docs/2026-01-07-bug-testcoverage-backend-3.md
  docs/plans/2026-01-07-test-coverage-backend-2.md
  docs/plans/2026-01-07-test-coverage-backend-3.md
Due: backend

clean up backend dead code & improve test coverage
  apps/backend/features/job/service_test.go
  apps/backend/features/mcp/handler_test.go
  apps/backend/internal/adapter/gemini/embedder.go
  apps/backend/internal/adapter/weaviate/store_test.go
  apps/backend/internal/app/app.go
  docs/plans/2026-01-07-test-coverage-backend-6.md
Due: backend

clean up dead code in frontend & ingestion-worker
  .serena/memories/implementation_details.md
  .serena/memories/suggested_commands.md
  .serena/memories/testing_and_ingestion_learnings.md
  apps/frontend/src/assets/vue.svg
  apps/frontend/src/components/ui/select/Select.spec.ts
  apps/frontend/src/components/ui/select/SelectGroup.vue
  apps/frontend/src/components/ui/select/SelectLabel.vue
  apps/frontend/src/components/ui/select/SelectSeparator.vue
  apps/frontend/src/components/ui/select/index.ts
  apps/ingestion-worker/handlers/file.py
  apps/ingestion-worker/handlers/web.py
  apps/ingestion-worker/main.py
  apps/ingestion-worker/tests/test_file_handlers.py
Due: ingestion-worker, frontend

improve docker compose and env implementation
  .env.example
  apps/backend/internal/app/app.go
  apps/backend/internal/config/config.go
  apps/backend/internal/config/config_test.go
  docker-compose.yml
  docs/plans/2026-01-08-docker-compose-refactor-1.md
  docs/plans/2026-01-08-docker-compose-refactor-2.md
Due: backend

impl chunk pagination in source detail page
  .serena/memories/implementation_details.md
  .serena/memories/implementation_details_pagination.md
  apps/backend/features/source/handler.go
  apps/backend/features/source/handler_test.go
  apps/backend/features/source/service_test.go
  apps/backend/features/source/source.go
  apps/backend/features/source/source_test.go
  apps/backend/internal/adapter/weaviate/store.go
  apps/backend/internal/adapter/weaviate/store_pagination_test.go
  apps/backend/internal/adapter/weaviate/store_test.go
  apps/backend/internal/app/interfaces.go
  apps/backend/internal/app/mocks_test.go
  apps/backend/internal/worker/integration_test.go
  apps/frontend/src/components/layout/Sidebar.vue
  apps/frontend/src/features/sources/source.store.spec.ts
  apps/frontend/src/features/sources/source.store.ts
  apps/frontend/src/views/SourceDetailView.vue
  docs/plans/2026-01-08-chunks-pagination-1.md
Due: backend, frontend

update readme and add agent.md as an implementation example, add ignore list to codecov
  README.md
  codecov.yml
  docs/agent.md
Due: none

fix llms.txt crawler bug
  .serena/memories/implementation_details.md
  .serena/memories/testing_and_ingestion_learnings.md
  apps/backend/internal/worker/result_consumer.go
  apps/backend/internal/worker/result_consumer_llms_test.go
  apps/ingestion-worker/handlers/web.py
  apps/ingestion-worker/tests/test_llms_txt_bypass.py
  apps/ingestion-worker/tests/test_manifest_detection.py
  docs/plans/2026-01-10-llms-txt-ingestion-fix-1.md
Due: backend, ingestion-worker

split ingestion topic for web and file
  .env.example
  .serena/memories/core_foundation_state.md
  .serena/memories/implementation_details.md
  .serena/memories/parallel_ingestion_implementation.md
  .serena/memories/project_overview.md
  .serena/memories/tech_stack.md
  apps/backend/features/job/handler_test.go
  apps/backend/features/job/service.go
  apps/backend/features/job/service_test.go
  apps/backend/features/source/handler_test.go
  apps/backend/features/source/service_test.go
  apps/backend/features/source/source.go
  apps/backend/features/source/source_test.go
  apps/backend/internal/app/bootstrap.go
  apps/backend/internal/config/config.go
  apps/backend/internal/config/topics.go
  apps/backend/internal/testutils/integration_suite.go
  apps/backend/internal/worker/result_consumer.go
  apps/backend/internal/worker/result_consumer_test.go
  apps/backend/internal/worker/topic_integration_test.go
  apps/backend/main.go
  apps/ingestion-worker/tests/test_config.py
  debug_logs.txt
  docker-compose.yml
  docs/2026-01-12-enhancement-distributed-micro-pipeline.md
  docs/plans/2026-01-12-parallel-ingestion-1.md
Due: backend, ingestion-worker

fix broken test due to race condition
  apps/backend/features/mcp/handler_integration_test.go
Due: backend

introduce name field to source, both web and file
  .serena/memories/core_foundation_state.md
  .serena/memories/fix_mcp_list_sources_url.md
  .serena/memories/implementation_details_source_naming.md
  .serena/memories/mcp_tools_spec.md
  .serena/memories/task_completion_definition.md
  .serena/memories/test_execution_report_2026_01_13.md
  README.md
  apps/backend/features/mcp/handler.go
  apps/backend/features/source/handler.go
  apps/backend/features/source/handler_create_test.go
  apps/backend/features/source/handler_integration_test.go
  apps/backend/features/source/handler_test.go
  apps/backend/features/source/handler_upload_test.go
  apps/backend/features/source/source.go
  apps/backend/internal/worker/result_consumer_test.go
  apps/backend/internal/worker/topic_integration_test.go
  apps/e2e/tests/failure-retry.spec.ts
  apps/e2e/tests/ingestion.spec.ts
  apps/frontend/src/components/layout/Sidebar.vue
  apps/frontend/src/features/sources/SourceForm.spec.ts
  apps/frontend/src/features/sources/SourceForm.vue
  apps/frontend/src/features/sources/source.store.ts
  docs/plans/2026-01-13-source-naming-refactor-1.md
Due: backend, frontend

add configurable craweler timeout, backoff mechanism, worker respect nsq max inflight
  .serena/memories/distributed_micro_pipeline_implemented.md
  .serena/memories/fix_mcp_list_sources_url.md
  .serena/memories/implementation_details.md
  .serena/memories/implementation_details_pagination.md
  .serena/memories/implementation_details_source_naming.md
  .serena/memories/parallel_ingestion_implementation.md
  .serena/memories/pdf_ingestion_reliability.md
  .serena/memories/test_execution_report_2026_01_13.md
  .serena/memories/testing_and_ingestion_learnings.md
  apps/frontend/package-lock.json
  apps/ingestion-worker/config.py
  apps/ingestion-worker/handlers/web.py
  apps/ingestion-worker/main.py
  apps/ingestion-worker/tests/test_concurrency.py
  apps/ingestion-worker/tests/test_config_timeout.py
  apps/ingestion-worker/tests/test_worker_retry.py
  docs/2026-01-21-bug-ingestion-chunk-errors.md
  docs/2026-01-21-proposal-integrationtest-ingestion-worker.md
  docs/plans/2026-01-21-bug-ingestion-chunk-errors-1.md
Due: ingestion-worker, frontend

fix ingestion worker retry backoff logic
  apps/ingestion-worker/config.py
  apps/ingestion-worker/main.py
  apps/ingestion-worker/tests/test_worker_retry.py
Due: ingestion-worker

chores: improve backend test coverage
  .serena/memories/implementation_details.md
  apps/backend/internal/adapter/reranker/client.go
  apps/backend/internal/adapter/reranker/client_test.go
  apps/backend/internal/app/bootstrap.go
  apps/backend/internal/app/bootstrap_resilience_test.go
  apps/backend/internal/config/config.go
  apps/backend/internal/retrieval/logger.go
  apps/backend/internal/retrieval/logger_test.go
  apps/backend/internal/worker/link_discovery.go
  apps/backend/internal/worker/link_discovery_test.go
  apps/backend/internal/worker/result_consumer.go
  apps/backend/internal/worker/result_consumer_test.go
  docs/plans/2026-01-21-backend-test-coverage-boost.md
Due: backend

chores: improve backend unit and integration tests coverage
  apps/backend/features/job/repo_integration_test.go
  apps/backend/features/job/service_test.go
  apps/backend/features/source/repo_integration_test.go
  apps/backend/features/source/service_test.go
  apps/backend/features/source/source_test.go
  apps/backend/internal/adapter/weaviate/store_integration_test.go
  apps/backend/internal/app/app.go
  apps/backend/internal/app/app_integration_test.go
  apps/backend/internal/app/app_test.go
  apps/backend/internal/app/bootstrap_integration_test.go
  apps/backend/internal/retrieval/service_test.go
  apps/backend/internal/testutils/integration_suite.go
  apps/backend/internal/worker/embedder_consumer_test.go
  apps/backend/internal/worker/mocks_test.go
  apps/backend/internal/worker/result_consumer_llms_test.go
  apps/backend/internal/worker/result_consumer_test.go
  apps/backend/main.go
Due: backend

fix ingestion stalling
  .env.example
  .serena/memories/testing_and_ingestion_learnings.md
  apps/ingestion-worker/config.py
  apps/ingestion-worker/handlers/web.py
  apps/ingestion-worker/main.py
  docs/2026-01-21-bug-ingestion-chunk-errors.md
Due: ingestion-worker

fix: broken tests
  apps/ingestion-worker/tests/test_config_timeout.py
  apps/ingestion-worker/tests/test_llms_txt_bypass.py
  apps/ingestion-worker/tests/test_manifest_detection.py
  apps/ingestion-worker/tests/test_web_handlers.py
Due: ingestion-worker

Added sync functionality
  apps/backend/features/source/repo.go
  apps/backend/features/source/source.go
  apps/backend/internal/app/app.go
  apps/backend/internal/scheduler/scheduler.go
  apps/backend/main.go
  apps/backend/migrations/000012_add_sync_settings.down.sql
  apps/backend/migrations/000012_add_sync_settings.up.sql
  apps/frontend/src/features/sources/SourceForm.vue
  apps/frontend/src/features/sources/source.store.ts
Due: backend, frontend

feat(qurio): add qurio_ingest MCP tool and cron-based sync scheduling
  apps/backend/features/mcp/handler.go
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/scheduler/scheduler.go
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/features/sources/SourceForm.vue
Due: backend, frontend

docs: add qurio_ingest tool to README Available Tools section
  README.md
Due: none

docs: add Claude integration guide with memory system setup
  docs/claude-integration.md
Due: none

fix: add persistent volumes for PostgreSQL and Weaviate
  docker-compose.yml
Due: none

Path conditions:
  backend: any of: apps/backend/
  ingestion-worker: any of: apps/ingestion-worker/
  frontend: any of: apps/frontend/
